body {
	margin: 0;
	font-family: Tahoma, Verdana, sans-serif;
}

h1 {
	border: 5px solid rgb(218, 247, 220);
	padding: 10px;
	margin: 0;
}

p {
	border: 2px dashed red;
	font-size: 115%;
	color: red;
}

.pageHeader {
	display: flex;
	flex-direction: column;
	align-items: center;

	border: 5px solid rgb(12, 27, 51);
	border-style: hidden hidden solid hidden;
	margin: 0;

	height: 110%;
	
	background-color: rgb(8, 126, 139);

	color: rgb(218, 247, 220);
	text-align: center;
	vertical-align: baseline;
}

.sidePanel {
	display: flex;
	flex-direction:column;

	margin: 0;

	width: 30%;

	background-color: rgb(218, 247, 220);
}

p.sidePanel, img.sidePanel {
	padding: 0px 0px 10px 20px;
}